a,a:link,a:visited{text-decoration: none;}
.box{
    position: relative;
    left:20px;
    color:black;
}
.element
{
    color:darkgray;
}
.element,.box > * {
    position: relative;
    left:20px;
    display: none;
}
.box:hover > .box,.box:hover > .element{
    display: inherit;
}
.element:hover
{
    font-weight: bolder;
}
