a,a:link,a:visited{text-decoration: none;color:inherit}
.container
{
    border:solid 1px orangered;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.item
{
    width:200px;
    height:50px;
    border:solid 1px green;
}